# Base de datos
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION_MINUTES=

# Servidor
APP_PORT=
APP_ENV=

# Servicio de IA
AI_API_URL=
AI_API_KEY=

# Servicio de correos (SMTP)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
